@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(204, 204, 204, 0.103);
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  height: 100vh;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

main {
  background-color: white;
  border-radius: 5px;
}
.modal {
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
}

input {
  font-size: 1em;
  border: none;
  margin: 10px;
  height: 60px;
  padding: 10px;
}

.descricao {
  height: 130px;
}

.adicionar {
  background-color: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
h2 {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.salvar {
  height: 30px;
  font-size: 20px;
  padding-top: 10px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  background-color: #333;
}
.linha img {
  width: 250px;
  height: 220px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}
.linha {
  display: flex;
  flex-direction: row;
}
/* CABEÇALHO */

header {
  background-color: black;
  height: 80px;
}

.titulo-modal {
  font-size: 20px;
  text-shadow: 0px 0px 1px black;
  text-align: center;
}

.cabecalho h1 {
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.container-menu {
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
}

.menu {
  display: inline-flex;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #fff;
  font-size: 20px;
  background-color: #000;
  text-decoration: none;
  font-family: "Titillium Web", Sans-serif, Arial;
  padding: 10px;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
}

.menu a:hover {
  border-color: #fff;
}

.img_menu {
  margin: 0;
}

h1 {
  padding-left: 10px;
  font-size: 1.5em;
  margin-right: 0.4em;
  font-family: "Titillium Web", Sans-serif, Arial;
}

.subheader h3 {
  margin: auto;
}

.subheader {
  margin-left: 20px;

  margin-top: 60px;
  display: inline-block;
  font-family: "Poppins", Sans-serif, Arial;
}

.subheader:hover {
  background-color: #138f47c2;
  color: #fff;

  transform: scale(1.1);
  background-position: -60px;
}

.post p {
  text-align: justify;
  font-size: 17px;
  line-height: 1.5em;
  margin-right: 3.4em;
  color: rgba(87, 83, 83, 0.907);
  padding-left: 10px;
  margin-top: 15px;
  font-family: "Titillium Web", Sans-serif, Arial;
}

.post h1:hover {
  color: #138f47c2;
}

/* CORPO */

.corpo {
  display: flex;
  flex-direction: column;
  /*display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;

*/
}

.post {
  flex: 1;
  margin: 20px;
  display: flex;
  cursor: pointer;
}

button {
  background-color: white;
  border: none;
}

button .salvar {
  padding-left: 3px;
  width: 100%;
  background-color: black;
}

.link {
  height: 180px;
  padding-left: 10px;
}

.rodape {
  background-color: black;
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  width: 100%;
}

.rodape img {
  width: 110px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.accordion-item {
  padding: 10px;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.accordion-item-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  text-indent: 10px;
}
.accordion-item-body-content p {
  color: rgba(0, 0, 0, 0.733);
  font-size: 1.2em;
}

.accordion-item-header.active + .accordion-item-body {
  max-height: 300px;
}

@media (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
  }
  .post {
    margin: 0;
  }
  .modal {
    height: 290px;
    width: 290px;
    display: flex;
    flex-direction: column;
  }

  input:focus-within {
    outline-color: black;
  }

  .menu button {
    background-color: #000;
  }
  .menu {
    display: inline-flex;
    margin-right: 1.3em;
  }
  .post p {
    font-size: 14px;
    line-height: 1.1em;
  }

  .accordion-item-header.active {
    max-height: 1000px;
  }

  .adicionar {
    padding-top: 15px;
  }
  .post img {
    width: 150px;
    height: 140px;
  }

  .containermenu {
    padding: 5px;
    height: 100%;
  }

  .menu a {
    padding: 5px;
    font-size: 15px;
  }

  .linha img {
    width: 150px;
    height: 165px;
  }

  .post h1 {
    padding-left: 0;
    padding-top: 15px;
    font-size: 20px;
  }

  .subheader {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .post p {
    padding-left: 0;
    margin-right: 0.4em;
    margin-top: 5px;
    font-size: 15px;
  }

  .rodape img {
    width: 115px;
    height: 45px;
  }
}
